# Default ignored files
/shelf/
/workspace.xml

########################################################################
# JetBrains
########################################################################
.idea

########################################################################
# VSCode
########################################################################
.vscode/