# Default ignored files
/shelf/
/workspace.xml
__pycache__

########################################################################
# JetBrains
########################################################################
.idea

########################################################################
# VSCode
########################################################################
.vscode/